#form1{
    margin: auto;
    width: 350px;
    height: 500px;
    justify-content: center;
    flex-direction: column;
}
#visor{
    width: 350px;
    height: 80px;
    background-color: lightgreen;
    text-align: right;
    font-size: 20pt;
}
.btn{
    width: 80px;
    height: 80px;
    font-size: 20pt;
}
.op{
    width: 80px;
    height: 80px;
    font-size: 20pt;
    background-color: gray;
}
p{ 
    display: flex;
    justify-content: space-between;
}
.igual{
    width: 350px;
    height: 80px;
    font-size: 20pt;
    background-color: gray;
}